/* IMAGE DEL LOGIN */

.container-login{

    width: 100%;

}


.container-image-login .image-login{

    width: 100%;
    position: absolute;
    height: 658px;
    z-index: -1;
    background-image: url(../img/login.png);
    background-size:cover;
}

/* FORM LOGIN */

.form-login{

    position: relative;
    top: 160px;
    width: 30%;
    height: 450px;
    padding: 10px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #9079a55e;
    border-radius: 20px;
}

/* ITEMS DEL LOGIN */
.items-login{

    text-align: left;
    padding: 20px;
    margin-top: 20px;
}

.items-login h2{
    
    margin-top: 30px;
}

.items-login input{

    margin-top: 20px;
}

/* Style Emial */

.items-login #user{

    width: 90%;
    padding: 6px;
    color: #8932D9;
    border-style: none;
    outline: 0px;
    font-size: 18px;
    border-bottom: 1px solid silver;
    margin-top: 10px;
}

.items-login #user:focus{

    border-bottom: 2px solid blue;
    transition: all 300ms;
    -webkit-transition: all 300ms;
}

/* Style Password */

.items-login #password{

    width: 90%;
    padding: 6px;
    color: #8932D9;
    border-style: none;
    font-size: 18px;
    outline: 0px;
    border-bottom: 1px solid silver;
    margin-top: 10px;
}

.items-login #password:focus{

    border-bottom: 2px solid blue;
    transition: all 300ms;
    -webkit-transition: all 300ms;
}


/* Submit */
.form-login input[type="submit"]{

    width: 80%;
    font-family: bebas;
    letter-spacing: 3px;
    padding: 7px 40px;
    font-size: 20px;
    background: #5E75C5;
    color: white;
    border-style: none;
    border-radius: 15px;
    margin-top: 20px;
    font-weight: 100;
    cursor: pointer;
    transition: all 300ms;
}

.form-login input[type="submit"]:hover{

    background: #3d5bc7;
}

/* ENLACE PARA REGISTRO */

.form-login p{

    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
}

.form-login p a{

    text-decoration: none;
    color: #8932D9;
    
}

/* RESPONSIVE */

@media screen and (max-width: 420px){

    .form-login{

        width: 80%;
    }

    .form-login p{

        font-size: 13px;
    }

    .container-image-login .image-login{
        
        left: -40px;
        width: 450px;
    }


}