/* Container */
.option-datosBasicosUser{

    width: 100%;
    margin-top: 100px;
    text-align: center;

}

.data-optionUser{

    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

/* Datos */
.data-optionUser ul{

    margin: 50px;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.data-optionUser ul li{

    padding: 10px;
}

.data-User{

    margin: 20px;
    font-weight: bold;
}

.data-optionUser .data-User:nth-child(2) ul{

    border-bottom: none;
}

/* BTN Cambiar contraseña */
#btn-cambiarContraseña, #btn-editarDatos, #btn-editarApariencia{


    font-family: bebas;
    letter-spacing: 2px;
    padding: 7px 20px;
    font-size: 18px;
    background: #8932D9;
    color: white;
    border-style: none;
    border-radius: 15px;
    margin-top: 50px;
    font-weight: 100;
    cursor: pointer;

}

#btn-editarDatos{

    margin-top: 126px;
}

/* SECTION 2 APARIENCIA */
#option2 .data-optionUser {

    justify-content: left;
}

#option2 .data-User img{

    width: 200px;
    margin-top: 30px;
    border-radius: 100px;
}

#option2 .data-optionUser ul{

    border-bottom: none;
}

#option2 p{

    font-weight: bold;
}

/* INSIGNIAS */
#option2 ul.insignias-user{

    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}

#option2 .insignia-title{

    margin-top: 80px;
    margin-left: 55px;
}

#option2 ul.insignias-user li{

    font-size: 60px;
    font-weight: normal;
}

#option2 .insignias-user li:nth-child(1){ color: #9950DC;}
#option2 .insignias-user li:nth-child(2){ color: #FB952F;}
#option2 .insignias-user li:nth-child(3){ color: #FA40BC;}
#option2 .insignias-user li:nth-child(4){ color: #408A47;}
#option2 .insignias-user li:nth-child(5){ color: #FA4040;}
#option2 .insignias-user li:nth-child(6){ color: #404040;}

#btn-editarApariencia{

    margin-left: 50px;
}

/* RESPONSIVE */

@media screen and (max-width: 420px){

    .data-User{

        margin-left: 0px;
    }


    .data-optionUser{

        margin-top: 20px;

    }

    .data-optionUser ul{

        margin: 30px;
        margin-left: 0px;
    }

    .data-optionUser ul li{

        padding: 7px;
    }

    #btn-editarDatos{

        margin-top: 70px;
    }

    /* SECTION 2 APARIENCIA */

    #option2 .data-User{

        margin-left: 25px;
    }

    #option2 .data-optionUser{

        margin-top: 80px;

    }

}